<!DOCTYPE html>
<head>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css"  
  integrity="sha256-JcgoO7qVianjbv43Z5KinReHzk9/rEZg5m6z/ZZy3DI= sha512-rYMbEYJa5+7VkGdfAypdYHqwIdCNEBKh8lhKUNIv58tgHQuHHzXC/Bzf66BFDkTjq970Lc6OIEpgllKINGDCKQ==" 
  crossorigin="anonymous">
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
  integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.9/css/xeditable.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.9/js/xeditable.min.js"></script>
  <script src="https://code.angularjs.org/1.0.8/angular-mocks.js"></script>
  <script src="scheduler.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<h1 class="title">Angular Application Scheduler</h1>
<div ng-app="scheduler" ng-controller="Control" class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive" ng-repeat="t in tasks">
        <tr class="single-task row">
          
          <td class="data col-md-2">
            <h3 class="heading">Task name</h3>
            <span class="text-inside" editable-text="t.name" e-name="name" e-form="rowform">
              {{ t.name || 'empty' }}
            </span>
          </td>
          
          <td class="data col-md-2">
            <h3 class="heading">Dyno size</h3>
            <span class="text-inside" editable-select="t.dynoSize" e-name="dynoSize" e-form="rowform" e-ng-options="d as d for d in dynoSizes">
              {{ t.dynoSize }}
            </span>
          </td>
          
          <td class="data col-md-2">
            <h3 class="heading">Frequency</h3>
            <span class="text-inside" editable-select="t.frequency" e-name="frequency" e-form="rowform" e-ng-options="f as f for f in frequencies">
              {{ t.frequency }}
            </span>
          </td>
          
          <td class="data col-md-2">
            <h3 class="heading">Last run</h3>
            <span class="text-inside" editable-select="t.lastRun" e-name="lastRun" e-form="rowform" e-ng-options="l as l for l in lastRun">
              {{ t.lastRun }}
            </span>
          </td>
          
          <td class="data col-md-2">
            <h3 class="heading">Next due</h3>
            <span class="text-inside">
              {{ newDate | date:'EEE, dd MMM yyyy' }} :
              <span class="text-inside" editable-select="t.nextDue" e-name="times" e-form="rowform" e-ng-options="t as t for t in times">
                {{ t.nextDue }}
              </span>
            </span>
          </td>
          
          <td style="white-space: nowrap" class="col-md-3 col-sm-3 col-xs-6">
            <form editable-form name="rowform" onbeforesave="saveTask($data, t.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == t">
              <div class="buttons save-cancel">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-success">Save</button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-info">Cancel</button>
              </div>
            </form>
            <div class="buttons action-buttons" ng-show="!rowform.$visible">
              <button class="btn btn-warning" ng-click="rowform.$show()">Edit</button>
              <button class="btn btn-danger" ng-click="removeTask($index)">Delete</button>
            </div>
          </td>
          
        </tr>
      </table>
      <button class="add-row-button btn btn-default" ng-click="addTask()">Add task</button>
    </div>
  </div>
</div>