
.single-task { padding-bottom: 30px; }

.data { 
  text-align: center; 
  color: #4CAF50;
}

.action-buttons { 
  margin-top: 20px;
  text-align: right;
}

.add-row-button { 
  width: 100%; 
  color: #FFE0B2;
}

.editable-input { 
  width: 100px; 
  background-color: #FFE0B2; 
}

.text-inside {
  width: 100px; 
  font-size: 15px;
}

.title { 
  text-align: center; 
  color: #F57C00;
}

.heading {
  color: #FF9800;
}

.save-cancel {
  margin-top: 20px;
  text-align: right;
}